# Goed rc init

GOED_INSTANCE=$1
GOED_VIEW=$2

# Search goed custom/builtin tools first 
PATH=$HOME/.goed/actions/:$HOME/.goed/default/actions/:$PATH

fn goed_open {
# open a file in goed
	goed_api open $GOED_INSTANCE `{pwd} $1
}

fn cd {
# cd into a directory, and notify goed of the new dir
	builtin cd $*
	goed_api view_cwd $GOED_INSTANCE $GOED_VIEW `{pwd}
} 

EDITOR=goed_open # When within goed, $EDITOR is goed

fn o {$EDITOR $*} # open a file/dir
fn s {s.sh $*} # search text (=~ grep) 
fn f {f.sh $*} # search files (=~ find)
